*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(205, 205, 221);
}

.ust_navbar{
    width: 100%;
    background-color: rgb(39, 39, 126);
    height: 129px;
    border-bottom: 3px solid white;
}
.logo{
    width: 390px;
}
#icon_navbar{
    display: flex;
 
}
#icon_navbar li i{
  font-size: 30px;
  color: orangered;
}
#icon_navbar li{
    list-style-type: none;
    color: bisque;
    font-family: sans-serif;
  line-height: 127px;
  height: 127px;
  
  
}
.icon3{
    margin-left: 100px;
  
}
.icon2{
    margin-left: 100px;
    
   
}
.icon1{
    margin-left: 100px;
}
.alt_navbar_komple{
    width: 100%;
    background-color: rgb(39, 39, 126);
    height: 70px;
    margin-top: -15px;
   
}
.alt_navbar_butonlar{
    display: flex;
    width: 1200px;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}
.alt_navbar_butonlar > li{
    list-style-type: none;
 
    color: white;
    margin: 0px 10px;
    text-align: center;
    margin: auto;
    position: relative;
cursor: pointer;
    
}
.hizmetlerimiz_alt{
    position: absolute;
    top: 39px;
    left: -80px;
    display: none;
}
.hizmetlerimiz_alt> li{
    background-color: gray;
    width: 200px;
    height: 40px;
    list-style-type: none;
    text-decoration: none;
    line-height: 40px;
    
}
.hizmetlerimiz_alt > li:hover{
    background-color: rgba(181, 180, 180, 0.767);
}
.alt_navbar_butonlar a{
    text-decoration: none;
    color: white;
padding-bottom: 40px;
}
.alt_navbar_butonlar li:hover a + .hizmetlerimiz_alt{
display: block;

}
.bilgi_bankası_alt{
    position: absolute;
    top: 39px;
    left: -80px;
    display: none;
}
.bilgi_bankası_alt >li{

    list-style-type: none;
    background-color: grey;
    width: 200px;
    height: 40px;
    line-height: 40px;
    
}
.bilgi_bankası_alt >li:hover{
background-color: rgb(186, 178, 178);

}
.alt_navbar_butonlar li:hover a + .bilgi_bankası_alt{
    display: block;
    
    }
.fa-bars{
color: rgb(221, 212, 195);
cursor: pointer;
font-size: 35px;
position: absolute;
top: 10px;
right: 5px;
background-color: rgba(68, 68, 61, 0.696);
width: 40px;
height: 40px;
text-align: center;
border-radius: 6px;
line-height: 40px;

}
.fa-bars:hover{
    color:  rgb(85, 84, 81);
    background-color: rgba(200, 200, 178, 0.696);
}
.Small_butonlar_komple{
 display: none;
    width: 250px;
    position: absolute;
    right: 40px;
    top: 110px;
   
}
.Small_butonlar_komple li{
    list-style-type: none;
   text-align: center;
   width: 250px;
   height: 40px;
   line-height: 40px;
   background-color: rgba(111, 111, 203, 0.885);
   border-radius: 10px;
   margin: 5px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: rgb(63, 58, 58);
 
}
.Small_butonlar_komple li:hover{
    background-color: rgb(112, 135, 195);
    transition: all 0.3s;
}
.togle{
    display: block;
}
.ntr{
   
    width: 97%;
    height: 150px;
    background-color: rgb(39, 39, 126);
    text-align: center;
   
   
 
    
    

}
.ntr li{
    list-style-type: none;
    color: white;
    cursor: pointer;
    
 
}
/* .ntr li:hover{
    color: rgb(67, 64, 64);
} */
.ytyy{
margin-top:20px;


}
.resim{
margin-top: 20px;
width: 25vw;
position: absolute;
left: 37vw;


    
}
.fa-angles-right{
    color: rgb(110, 116, 157);
}
.ntr span{
    color:  rgb(39, 39, 126);
}
.kyu{
    background-color: rgb(39, 39, 126);
}